data/processed-hannah3/1922/Debate.dtd.txt

 
 
<!ATTLIST Debate
  	House  CDATA #REQUIRED
	Vol CDATA #REQUIRED
	No CDATA #REQUIRED
	Day (Mon|Tue|Wed|Thu|Fri|Sat|Sun) #REQUIRED
	Date CDATA #REQUIRED
	Month (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) #REQUIRED
	Year CDATA #REQUIRED
	cnum CDATA #IMPLIED
	DocTitle CDATA #IMPLIED
	DateIrish CDATA #IMPLIED
	DateEnglish CDATA #IMPLIED
	CommitteeEng CDATA #IMPLIED 
	CommitteeIr CDATA #IMPLIED
	SubNameEng  CDATA #IMPLIED >

<!ENTITY % CharAttr "
  Just   (Left|Right|Center) 'Left'
  Italics (Y|N)	     #IMPLIED
  Bold    (Y|N)      #IMPLIED
  LI  CDATA      #IMPLIED
  FLI CDATA	 #IMPLIED
  BEFORE CDATA #IMPLIED"
  >

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
                  
<!ATTLIST HtmlBk 
  SectId CDATA #REQUIRED
 >

  		 
 <!ATTLIST Line
   Leading CDATA #IMPLIED
 >

 
 
 

 
<!ATTLIST Miles
	com	CDATA	#REQUIRED
	par	CDATA	#IMPLIED
>

 
 
<!ATTLIST MainHeading
  Type (Prelude|OA|WA|PN|GD) "GD"
  LHead CDATA #IMPLIED
  RHead CDATA #IMPLIED
>

 
<!ATTLIST Sect
  LHead CDATA #IMPLIED
  RHead CDATA #IMPLIED
>

 
  
<!ATTLIST Speaker                              
  pid  CDATA #REQUIRED
  Who  CDATA #IMPLIED
  el   CDATA #IMPLIED
  hpid CDATA #IMPLIED
>
   
    
    


 
<!ATTLIST Qst
  Pid    CDATA #REQUIRED
  ToPid  CDATA #REQUIRED
  Dept   CDATA #REQUIRED
  el	 CDATA #IMPLIED
  numbered CDATA #IMPLIED
>

    
 	 
    
       
    
    
 		 

    
<!ATTLIST Deputy
  pid   CDATA #REQUIRED
>
 

 	 
<!ATTLIST Chair
  pid   CDATA #REQUIRED
>

          
          
          
 
 
          
          

        
<!ATTLIST Title
  el	CDATA #IMPLIED
>

        
<!ATTLIST sTitle
  el	CDATA #IMPLIED
>

        
<!ATTLIST P
    %CharAttr;
	pgwide		CDATA					#IMPLIED
	el		CDATA					#IMPLIED
>

        

        
<!ATTLIST TimeSt
	down	CDATA	#IMPLIED
	idown	CDATA	#IMPLIED
>


   
        
      
       
<!ATTLIST YesVote
	pid	CDATA	#REQUIRED 
	head	CDATA	#IMPLIED >		 
      
        
<!ATTLIST NoVote
	pid	CDATA	#REQUIRED 
	head	CDATA	#IMPLIED >		 
       
      

 
 
<!ATTLIST img
	websrc	CDATA	#REQUIRED 
	milessrc CDATA	#IMPLIED >	 

 
 
 

   
   

<!--
The parameter entities as defined below change and simplify the CALS table
model as published (as part of the Example DTD) in MIL-HDBK-28001.  The
resulting simplified DTD has support from the SGML Open vendors and is
therefore more interoperable among different systems.

These following declarations provide the Exchange default definitions
for these entities.  However, these entities can be redefined (by giving
the appropriate parameter entity declaration(s) prior to the reference
to this Table Model declaration set entity) to fit the needs of the
current application.

Note, however, that changes may have significant effect on the ability to
interchange table information.  These changes may manifest themselves
in useability, presentation, and possible structure information degradation.
-->

 
 
 
 
 
 
 
 
 
 
 
 
 

 

<!--
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % tbl.table.name       "table"
     ENTITY % tbl.table-titles.mdl "%titles;,"
     ENTITY % tbl.table.mdl        "%tbl.table-titles; tgroup+"
     ENTITY % tbl.table.att        "
                        pgwide          %yesorno;       #IMPLIED "
-->

 

<!ATTLIST %tbl.table.name;
        frame           (top|bottom|topbot|all|sides|none)      #IMPLIED
	measure		CDATA					#IMPLIED
        colsep          %yesorno;                               #IMPLIED
        rowsep          %yesorno;                               #IMPLIED
	pgwide		CDATA					#IMPLIED
	fontsize	CDATA					#IMPLIED
	el		CDATA					#IMPLIED
        %bodyatt;
>

<!--
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % tbl.tgroup.mdl    "colspec*,thead?,tbody"
     ENTITY % tbl.tgroup.att    ""
-->

 

<!ATTLIST tgroup
        cols            NMTOKEN                                 #REQUIRED
        colsep          %yesorno;                               #IMPLIED
        rowsep          %yesorno;                               #IMPLIED
        align           (left|right|center|justify|char)        #IMPLIED
        %tbl.tgroup.att;
>

<!--
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % tbl.colspec.att   ""
-->

 

<!ATTLIST colspec
        colnum          NMTOKEN                                 #IMPLIED
        colname         NMTOKEN                                 #IMPLIED
        colwidth        CDATA                                   #IMPLIED
        colsep          %yesorno;                               #IMPLIED
        rowsep          %yesorno;                               #IMPLIED
        align           (left|right|center|justify|char)        #IMPLIED
	valign		(top|bottom|middle)			#IMPLIED
        char            CDATA                                   #IMPLIED
	rpad		CDATA					#IMPLIED
	lpad		CDATA					#IMPLIED
        charoff         NMTOKEN                                 #IMPLIED
        %tbl.colspec.att;
>

<!--
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % tbl.thead.att      ""
-->

 

<!ATTLIST thead
        valign          (top|middle|bottom)                     #IMPLIED
        %tbl.thead.att;
>

<!--
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % tbl.tbody.att     ""
-->

 

<!ATTLIST tbody
        valign          (top|middle|bottom)                     #IMPLIED
        %tbl.tbody.att;
>

<!--
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % tbl.row.mdl       "entry+"
     ENTITY % tbl.row.att       ""
-->

 

<!ATTLIST row
        rowsep          %yesorno;                               #IMPLIED
        valign          (top|middle|bottom)                     #IMPLIED
        %tbl.row.att;
>


<!--
     Default declarations previously defined in this entity and
     referenced below include:
     ENTITY % paracon           "#PCDATA"
     ENTITY % tbl.entry.mdl     "(%paracon;)*"
     ENTITY % tbl.entry.att     ""
-->

 

<!ATTLIST entry
        colname         NMTOKEN                                 #IMPLIED
        namest          NMTOKEN                                 #IMPLIED
        nameend         NMTOKEN                                 #IMPLIED
        morerows        NMTOKEN                                 #IMPLIED
        colsep          %yesorno;                               #IMPLIED
        rowsep          %yesorno;                               #IMPLIED
        align           (left|right|center|justify|char)        #IMPLIED
        char            CDATA                                   #IMPLIED
        charoff         NMTOKEN                                 #IMPLIED
	rpad		CDATA					#IMPLIED
	lpad		CDATA					#IMPLIED
        valign          (top|middle|bottom)                     #IMPLIED
        %tbl.entry.att;
>
